@using CryptxOnline.Web.CryptxService
@model List<CryptxOnline.Web.CryptxService.UserProfileListElement>

@{
    ViewBag.Title = "Профили пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Assets/libjs/jquery-2.0.3.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/CustomStyle.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Assets/libjs/jquery-ui-1.10.3.js")" type="text/javascript"></script>

<h2>Профили пользователя</h2>
@using (Html.BeginForm())
{
    <div class="certs-table" style="width: 50%">
        <table>
            <tr>
                <th style="text-align: left; width: 50%;">
                    Название
                </th>
                <th style="text-align: left; width: 30%; word-wrap: break-word;">
                    По умолчанию
                </th>
                <th style="text-align: left">
                    Действия
                </th>
            </tr>
            @foreach (UserProfileListElement profile in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@profile.Name, "CreateEditProfile", new {profile.ID}, new {title = "Редактировать"}) 
                    </td>
                    <td style="text-align: center">
                        @if (profile.IsDefault)
                        {
                            <img src="@Url.Content("~/Assets/i/old/button_ok_8134.png")"/>
                        }
                        else
                        {
                            //<input type="submit" class="button" value="Установить по умолчанию" name="asDefault"/>
                            @Html.ActionLink("Установить по умолчанию", "SetProfileAsDefault", new {profile.ID})
                            ;
                        }
                    </td>
                    <td>
                        <img align="absmiddle" style="cursor: pointer" title="Редактировать" name="edit" src="@Url.Content("~/Assets/i/old/kedit_1708.png")" onclick=" location.href = '@Url.Action("CreateEditProfile", new {Id = profile.ID})' "/>
                        <img align="absmiddle" style="cursor: pointer" title="Удалить" name="delete" src="@Url.Content("~/Assets/i/old/remove_5729.png")" onclick=" clickOpenModal('@profile.ID') "/>
                    </td>
                </tr>
            }
        </table>
        <input type="submit" style="float: left" name="createProfile" value="Создать профиль" class="button"/>
        
        @Html.Hidden("curThumbprint")    
    </div>

    <div id="boxes">
        <div id="dialogDelRecip" class="window">
            <table style="width: 100%">
                
                <tr style="height: 100px">
                    <td style="text-align: center; vertical-align: central;">
                        Подтвердите удаление профиля из вашего списка профилей<img href="#" class="close" style="position: absolute; right: 5px; top: 5px;" src="@Url.Content("~/Assets/i/old/dialog-close_7593.png")" width="32" height="32" border="0" />
                    </td>
                </tr>
                <tr>
                    <td style="left: 10px; position: absolute; text-align: left">
                        <input type="submit" name="delButton" value="Удалить профиль" class="button" />
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div id="mask"></div>
}

<script>
    function closeModal() {
        //$(".validation-summary-errors").remove();
        $('#mask, .window').hide();
        $(".validation-summary-errors").remove();
    };

    function clickOpenModal(thumbprint, friendlyName) {
        //Cancel the link behavior
        //e.preventDefault();
        //Get the A tag
        $("#curThumbprint").val(thumbprint);
        var id = '#dialog';
        if (event.srcElement.name == "delete")
            id = "#dialogDelRecip";
        if (event.srcElement.name == "edit") {
            $("#curfName").val(friendlyName);
            id = "#dialogEditRecip";
        }
        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        //Set heigth and width to mask to fill up the whole screen
        $('#mask').css({ 'width': maskWidth, 'height': maskHeight });
        $('#mask').css({ 'position': 'fixed' });

        //transition effect		
        $('#mask').fadeIn(1000);
        $('#mask').fadeTo("slow", 0.8);

        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        //Set the popup window to center
        $(id).css('top', winH / 2 - $(id).height() / 2);
        $(id).css('left', winW / 2 - $(id).width() / 2);

        //transition effect
        $(id).fadeIn(2000);
        $("#pinCode").focus();
    };

    $(document).ready(function() {
        $("#curThumbprint").val('');
        $("#dialog").keydown(function(e) {
            if (e.keyCode == 13) {
                $("#makeOperation").trigger("click");
                e.preventDefault();
            }
        });

        //select all the a tag with name equal to modal
        $('input[name=modal]').click(function(e) {
            //Cancel the link behavior
            e.preventDefault();
            //Get the A tag
            var id = $(this).attr('href');

            //Get the screen height and width
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();

            //Set heigth and width to mask to fill up the whole screen
            $('#mask').css({ 'width': maskWidth, 'height': maskHeight });

            //transition effect		
            $('#mask').fadeIn(1000);
            $('#mask').fadeTo("slow", 0.8);

            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();

            //Set the popup window to center
            $(id).css('top', winH / 2 - $(id).height() / 2);
            $(id).css('left', winW / 2 - $(id).width() / 2);

            //transition effect
            $(id).fadeIn(2000);

        });

        //if close button is clicked
        $('.window .close').click(function(e) {
            //location.href = location.href;
            //Cancel the link behavior
            e.preventDefault();
            $('#mask, .window').hide();
        });

        //if mask is clicked
        $('#mask').click(function() {
            //$(this).hide();
            //$('.window').hide();
        });

    });
</script>