@using CryptxOnline.Web.CryptxService
@model CryptxOnline.Web.Models.WizardModel

@{
    ViewBag.Title = Model.WizardName + " - " + Model.CustomWizardStep.StepText;
    Layout = "~/Views/Shared/_LayoutWizardPage.cshtml";
}
<link href="@Url.Content("~/Content/CustomStyle.css")" rel="stylesheet" type="text/css" />

@if (Request.QueryString["errorMsg"] != null)
{
    <script>
        alert('@Request.QueryString["errorMsg"]');
    </script>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.Hidden("wizardId")
    <div class="wizard-right-top">
        <table>
            @if (Model.Type == OperationType.Sign)
            {
                <tr>
                    <td>
                        @Html.RadioButtonFor(x => x.SigningOptions.Detached, false) Хранить подпись совместно с данными
                        <br />
                        @Html.RadioButtonFor(x => x.SigningOptions.Detached, true) Хранить подпись отдельно от данных
                    </td>
                </tr>
            }
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Выходной формат файла: @Html.DropDownListFor(x => x.SigningOptions.SignOutputFormat, new SelectList(Model.SigningOptions.GetEncodingTypesList(), "Value", "Text", (int) Model.SigningOptions.SignOutputFormat))
                </td>
            </tr>
            <br />
        </table>

    </div>
    <div class="wizard-right-bottom">
        <div class="buttons">
            @if (string.IsNullOrEmpty(Model.CustomWizardStep.PreviousStep))
            {
                <input type="submit" name="backButton" class="button" value="Назад" disabled="true" />
            }
            else
            {
                <input type="submit" name="backButton" class="button" value="Назад" />
            }

            @if (string.IsNullOrEmpty(Model.CustomWizardStep.NextStep))
            {
                <input type="submit" name="nextButton" class="button" value="Вперед" disabled="true"/>
            }
            else
            {
                <input type="submit" name="nextButton" class="button" value="Вперед" />
            }
            &nbsp&nbsp&nbsp&nbsp
            @if (Model.CanmakeOperation)
            {
                if (Model.Type == OperationType.Sign)
                {
                    <input type="button" class="button" name="makeOperation" value="@Model.MakeOperationText" onclick=" clickOpenModal() " />
                }
                if (Model.Type == OperationType.Encrypt)
                {
                    <input type="submit" id="makeOperation" class="button" name="makeOperation" value="@Model.MakeOperationText" />
                }
            }
            else
            {
                if (Model.Type == OperationType.Sign)
                {
                    <input type="button" class="button" name="makeOperation" value="@Model.MakeOperationText" disabled="true" onclick=" clickOpenModal() " />
                }
                if (Model.Type == OperationType.Encrypt)
                {
                    <input type="submit" id="makeOperation" class="button" name="makeOperation" disabled="true" value="@Model.MakeOperationText" />
                }
            }
            <input type="submit" class="button" name="cancelButton" value="Отмена" onclick=" location = '@Url.Action("CloseWizard", "Wizard")    ' " />
        </div>
    </div>

    <div id="boxes">
        <div id="dialog" class="window"> 
            <table width="100%">
                <tr>
                    <td>
                        Пин-код ключа
                    </td>
                    <td style="text-align: right">
                        <img href="#"class="close" src="@Url.Content("~/Assets/i/old/dialog-close_7593.png")" width="32" height="32" border="0" />
                    </td>
                </tr>
                
                <tr>
                    <td>
                        @Html.Password("pinCode")
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Model.CanmakeOperation)
                        {
                            <input type="submit" onclick=" closeModal() " id="makeOperation" class="button" name="makeOperation" value="@Model.MakeOperationText" />
                        }
                        else
                        {
                            <input type="submit" onclick=" closeModal() " id="makeOperation" class="button" name="makeOperation" disabled="true" value="@Model.MakeOperationText" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="mask"></div>
}

<script>
    function closeModal() {
        //$(".validation-summary-errors").remove();
        $('#mask, .window').hide();
        $(".validation-summary-errors").remove();
    };

    function clickOpenModal() {
        globalRes = true;
        $.ajax({
            url: '@Url.Action("Requestpin", "Wizard")',
            async: false,
            type: 'POST',
            data: { wizardId: $('#wizardId').val() },
            success: function(result) {
                if (result == 'False') {
                    closeModal();
                    globalRes = false;
                    $('#makeOperation').trigger('click');
                }
            },
            error: function(request, error, result) {
                location.href = location.href;
                var wnd = window.open("about:blank", "_blank", "height:100;width:100");
                wnd.document.write(request.responseText);

                //alert('Ошибка при анализе файла');
                return false;
            }
        });
        if (globalRes) {
            $("#pinCode").val("");
            //Cancel the link behavior
            //e.preventDefault();
            //Get the A tag
            var id = '#dialog';
            //Get the screen height and width
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();

            //Set heigth and width to mask to fill up the whole screen
            $('#mask').css({ 'width': maskWidth, 'height': maskHeight });
            $('#mask').css({ 'position': 'fixed' });

            //transition effect		
            $('#mask').fadeIn(1000);
            $('#mask').fadeTo("slow", 0.8);

            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();

            //Set the popup window to center
            $(id).css('top', winH / 2 - $(id).height() / 2);
            $(id).css('left', winW / 2 - $(id).width() / 2);

            //transition effect
            $(id).fadeIn(2000);
            $("#pinCode").focus();
        }
    };

    $(document).ready(function() {
        $("#dialog").keydown(function(e) {
            if (e.keyCode == 13) {
                $("#makeOperation").trigger("click");
                e.preventDefault();
            }
        });

        //select all the a tag with name equal to modal
        $('input[name=modal]').click(function(e) {
            //Cancel the link behavior
            e.preventDefault();
            //Get the A tag
            var id = $(this).attr('href');

            //Get the screen height and width
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();

            //Set heigth and width to mask to fill up the whole screen
            $('#mask').css({ 'width': maskWidth, 'height': maskHeight });

            //transition effect		
            $('#mask').fadeIn(1000);
            $('#mask').fadeTo("slow", 0.8);

            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();

            //Set the popup window to center
            $(id).css('top', winH / 2 - $(id).height() / 2);
            $(id).css('left', winW / 2 - $(id).width() / 2);

            //transition effect
            $(id).fadeIn(2000);

        });

        //if close button is clicked
        $('.window .close').click(function(e) {
            //location.href = location.href;
            //Cancel the link behavior
            e.preventDefault();
            $('#mask, .window').hide();
        });

        //if mask is clicked
        $('#mask').click(function() {
            //$(this).hide();
            //$('.window').hide();
        });

    });
</script>